head
  title Create Record
  link(href='/style/create.css', rel='stylesheet')
body
  - var resFrameName = 'create-response'
  div.header Create new beer list record
  form(action='/create-new', target=resFrameName)
    div.name-table
      div.name-list
        div
          div Buyer
          div.info select one
        for name in nameList
          label
            input(type='radio', name='buyer', value=name)
            div= name

      div.name-list
        div
          div Drinkers
          div.info select many
        for name in nameList
          label
            input(type='checkbox', name='consumerList[]', value=name)
            div= name
    div.buttons
      input(type='submit' value='Submit')
      a(href='/') Cancel

  iframe(name=resFrameName)
